.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  max-width: 320px;
  margin: 24px auto 0;
}

@media screen and (min-width: 1440px) {
  .form {
    width: 320px;
    margin: 32px auto 0;
  }
}

.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;

  font-size: 16px;
  font-weight: 400;
  color: fff;
}

.input {
  padding: 6px 12px;

  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-main-color);

  border: none;
  border: 3px solid var(--main-color);
  border-radius: 8px;
  outline: none;

  box-shadow: inset 0px 0px 6px var(--main-color);

  transition: border-color var(--hover-transition);
}

.input:is(:hover, :focus) {
  border-color: var(--secondary-color);
}

.error {
  margin-top: 4px;
  text-align: center;

  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: var(--error-text-color);
  text-shadow: 1px 1px 2px black;
}

.submitBtn {
  padding: 8px 16px;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--text-main-color);

  border: none;
  border-radius: 8px;
  background-color: var(--secondary-color);

  cursor: pointer;
  transition: color var(--hover-transition),
    background-color var(--hover-transition),
    border-color var(--hover-transition);
}

.submitBtn:is(:hover, :focus) {
  color: var(--text-secondary-color);
  background-color: var(--accent-color-01);
}
