.list {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.delete {
    border: none;
    border-radius: 4px;
    background-color: rgb(238, 209, 209);
}

.delete:active {
    background-color: rgb(65, 230, 166);
}